In [13]:
import pandas as pd 
import requests
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np
import json

In [14]:
csv_file = "Resources/EDSTAT_UK&SP.csv"
education_data = pd.read_csv(csv_file)
education_data.head()

,Country Name,Country Code,Indicator Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,United Kingdom,GBR,Expenditure on primary as % of government expe...,24.71134949,24.98936081,23.62890053,25.4773407,26.19923973,26.46495056,29.44553947,30.64546967,31.57509041,31.11967087,30.09235001,30.77206039,NaN,29.78849983,28.91542053,32.1665802,NaN
1,United Kingdom,GBR,Expenditure on primary as % of total governmen...,2.980230093,3.071850061,3.205369949,3.469130039,3.394249916,3.489840031,3.893019915,3.98781991,4.094099998,3.92324996,3.900079966,3.913100004,NaN,3.864939928,NaN,NaN,NaN
2,United Kingdom,GBR,Expenditure on secondary and post-secondary no...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.55173,NaN,NaN,NaN
3,United Kingdom,GBR,Expenditure on secondary and post-secondary no...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.36905,NaN,NaN,NaN
4,United Kingdom,GBR,Expenditure on secondary as % of government ex...,48.73329926,48.35630035,47.14807129,48.27423096,47.88209152,45.38877869,43.31438065,45.10861969,47.03944016,48.91957092,48.31803894,41.5705986,NaN,40.13864136,41.13214874,41.03583145,NaN

In [25]:
labor_force_total_df = education_data.loc[education_data["Indicator Name"] == "Labor force, total"]
unemployment_total_df = education_data.loc[education_data["Indicator Name"] == "Unemployment, total (% of total labor force)"]
unemployment_male = education_data.loc[education_data["Indicator Name"] == "Unemployment, male (% of male labor force)"]
unemployment_female = education_data.loc[education_data["Indicator Name"] == "Unemployment, female (% of female labor force)"]
labor_force_advanced_education_total = education_data.loc[education_data["Indicator Name"] == "Labor force with advanced education (% of total)"]
labor_force_advanced_education_male = education_data.loc[education_data["Indicator Name"] == "Labor force with advanced education, male (% of male labor force)"]
labor_force_advanced_education_female = education_data.loc[education_data["Indicator Name"] == "Labor force with advanced education, female (% of female labor force)"]

In [31]:
total_df = education_data.loc[
    (education_data["Indicator Name"] == "Labor force, total") | 
    (education_data["Indicator Name"] == "Unemployment, total (% of total labor force)") |  
    (education_data["Indicator Name"] == "Unemployment, male (% of male labor force)"  ) | 
    (education_data["Indicator Name"] == "Unemployment, female (% of female labor force)" ) | 
    (education_data["Indicator Name"] == "Labor force with advanced education (% of total)" ) | 
    (education_data["Indicator Name"] == "Labor force with advanced education, male (% of male labor force)" ) | 
    (education_data["Indicator Name"] == "Labor force with advanced education, female (% of female labor force)" ) 
]


total_df.drop(columns=['2000', '2012', '2013', "2014", "2015", "2016"])

,Country Name,Country Code,Indicator Name,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
21,United Kingdom,GBR,Labor force with advanced education (% of total),89.87000275,89.76000214,89.80000305,89.63999939,89.90000153,89.97000122,89.66999817,85.23999786,85.01000214,84.86000061,85.02999878
22,United Kingdom,GBR,"Labor force with advanced education, female (%...",87.05000305,87.62000275,87.23000336,87.48000336,88,87.98000336,87.73000336,82.01999664,81.69999695,81.62000275,81.29000092
23,United Kingdom,GBR,"Labor force with advanced education, male (% o...",92.41999817,91.75,92.16999817,91.66000366,91.70999908,91.91999817,91.58999634,88.59999847,88.48999786,88.30000305,88.98999786
24,United Kingdom,GBR,"Labor force, total",29259481,29588608,29868880,30142806,30589672,31037532,31240727,31647715,31825341,32010605,32192080
25,United Kingdom,GBR,"Unemployment, female (% of female labor force)",4.099999905,4.400000095,4.099999905,4.199999809,4.300000191,4.900000095,4.900000095,5.099999905,6.400000095,6.900000095,7.300000191
26,United Kingdom,GBR,"Unemployment, male (% of male labor force)",5.199999809,5.599999905,5.400000095,4.900000095,5.199999809,5.699999809,5.5,6.099999905,8.5,8.600000381,8.600000381
27,United Kingdom,GBR,"Unemployment, total (% of total labor force)",4.699999809,5,4.800000191,4.599999905,4.800000191,5.400000095,5.300000191,5.599999905,7.5,7.800000191,8
74,Spain,ESP,Labor force with advanced education (% of total),79.55999756,81,81.59999847,82.62000275,82.18000031,82.52999878,82.70999908,82.68000031,82.72000122,82.23000336,82.16000366
75,Spain,ESP,"Labor force with advanced education, female (%...",75.27999878,77.98000336,79.08999634,80.40000153,79.69000244,80.48000336,80.51000214,80.86000061,81.55000305,81.56999969,81.63999939
76,Spain,ESP,"Labor force with advanced education, male (% o...",83.66999817,83.94999695,84.05000305,84.83999634,84.68000031,84.61000061,84.94000244,84.51000214,83.93000031,82.91999817,82.70999908
77,Spain,ESP,"Labor force, total",18197151,19041481,19814279,20485991,21257406,21906463,22486832,23119571,23386879,23577450,23614034
78,Spain,ESP,"Unemployment, female (% of female labor force)",15,16.10000038,15.69999981,15.10000038,12,11.39999962,10.69999981,12.89999962,18.10000038,20.20000076,21.79999924
79,Spain,ESP,"Unemployment, male (% of male labor force)",7.400000095,7.900000095,8.300000191,8.399999619,7.099999905,6.400000095,6.400000095,10.10000038,17.60000038,19.60000038,21
80,Spain,ESP,"Unemployment, total (% of total labor force)",10.30000019,11.10000038,11.30000019,11.10000038,9.100000381,8.5,8.199999809,11.30000019,17.89999962,19.89999962,21.39999962